<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>layouts</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </head>
  <body id="container">
    <header>
      <a href="index.html" class="header-title"><h1>ELIZABETH  CAROLINE  WHITE</h1></a>
      <nav>
        <ul id="navigation">
          <li class="nav-item"><a href="choreography.html">Choreography</a></li>
          <li class="nav-item"><a href="#">Charcoals</a></li>
          <li class="nav-item"><a href="#">Digital</a></li>
          <li class="nav-item"><a href="#">Dance</a></li>
          <li class="nav-item"><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <section id="section-1">
      <a href="test">
      <div class="boxes">
          <img class="img-box" src="assets/img/dance1.jpeg" alt="">
          <h3>Bunny</h3>
      </div>
      <div class="boxes">
            <img class="img-box" src="assets/img/cat.gif" alt="">
            <h3>Cat</h3>
      </div>
      <div class="boxes">
            <img class="img-box" src="assets/img/deal-with-it.gif" alt="">
            <h3>Deal With It</h3>
      </div>

    </section>
    <section id="section-2">

        <video src="assets/video/moviewithlola.mov" controls poster="assets/img/michelle.gif" height="450px" width="800px">
        </video>


    </section>
    <script src="assets/js/script.js"></script>

  <body>

  </body>
</html>
